/* .galleryContainer {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  height: 81vh;
}
.imageComtiner {
  width: 190px;
  height: 190px;
}
img {
  width: 190px;
  height: 190px;
} */
.galleryContainer {
  background-color: #323232;
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 100px;
  justify-content: center;
  gap: 26px;
  /* margin: 84px; */
  padding: 99px 0px 20px 0px;
  overflow: auto;
}
.imageComtiner {
  width: 150px;
  height: 150px;
  margin-right: 25px;
}
img {
  width: 150px;
  height: 150px;
}
.bigContainer {
  background-color: #323232;
  width: 75%;
}
.footer {
  background-color: #323232;
  display: block;
  width: 100%;
  height: 14vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  color: #d8d8d8;
}
.button {
  border: none;
  color: white;
  padding: 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
  cursor: pointer;
}
.buttonAdd {
  background-color: #9cff89;
  margin-right: 50px;
  margin-left: 20px;
}
.buttonDelete {
  background-color: #b94545;
  margin-left: 35px;
  margin-right: 20px;
}
.popup {
  position: fixed;
  width: 30%;
  height: 40%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: #464444;
  border: 2px solid 464444;
  border-radius: 10px;
  box-shadow: rgb(175 173 173 / 35%) 6px 6px 15px;
}

input[type="text"] {
  width: 80%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #323232;
  color: #fff3f3;
  font-size: 16px;
  border-radius: 9px;
  padding: 5%;
}
.btn {
  background-color: #9cff89;
  color: black;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  bottom: 23px;
  right: 28px;
  border-radius: 9px;
  padding: 4% 35%;
  font-size: 18px;
  margin-top: 20px;
}
.popupTitle {
  color: #d8d8d8;
  font-size: 42;
  font-weight: bold;
  font-family: Avenir Next;
  text-align: left;
  margin-left: 5%;
  margin-top: 5%;
}
.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4%;
}
#x {
  position: relative;
  float: right;
  background: none;
  color: white;
  top: 8px;
  right: 10px;
  border: navajowhite;
  cursor: pointer;
}
.highlight {
  color: black;
}
.selected {
  box-shadow: 12px 12px 14px -11px #afafaf;
}
